.item {
  margin: 10px;
  padding: 5px 10px;
  display: inline-block;
  background: aliceblue;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}

.header {
  padding: 2px 10px;
  font-weight: bold;
  text-decoration: underline;
}
